GITLAB_TOKEN="glpat-vkJNawH33oWBWhHdXjumXWM6MQpvOjEKdTpuZ2Jnag8.01.1707zjjuf"
GITLAB_URL=https://gitlab.com
GITLAB_GROUP=m.adnan4637-group
GITLAB_PROJECT_PATH=m.adnan4637-group/orbitfix-ai-dev

LLM_API_KEY= "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"
LLM_MODEL=llama-3.1-8b-instant
LLM_API_URL=https://api.groq.com/openai/v1/chat/completions
ORBIT_QUERY_LIMIT=20